<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmvclearning:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmvclearning_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmvclearning/web/Web" />
    </root>
  </artifact>
</component>