<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">
		
	<!-- 配置Handler -->
	<bean  id="itemsController1" name="/queryItems.action" class="com.danhuang.ssm.controller.ItemsController1"></bean>
	<!-- 配置另一个Handler -->
	<bean id="itemsController2" class="com.danhuang.ssm.controller.ItemsController2"></bean>
	
	<!-- 处理器映射器 
		将bean的name作为url进行查找，需要在配置Handler时指定beanname（就是url)
		所有的映射器都实现了HandlerMapping接口
	-->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
	
	<!-- 简单url映射 -->
	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
			<!-- 对itemsController1进行url映射，url是/queryItems.action -->
				<prop key="/queryItems1.action">itemsController1</prop>
				<prop key="/queryItems2.action">itemsController1</prop>
				<prop key="/queryItems3.action">itemsController2</prop>
			</props>
		</property>
	</bean>
	<!-- 注解映射器 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
	<!-- 注解适配器 -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"/>
	
	<!-- 使用mvc:annotation-driven代替注解映射器和注解适配器的配置
		mvc:annotation-driven默认还加载了很多参数的绑定方法，比如json的转换解析器就默认加载了
		如果使用mvc:annotation-driven就不用配置requestmappinghandler、mapping
		实际开发使用mvc:annotation-driven
	 -->
	<!--<mvc:annotation-driven></mvc:annotation-driven>-->
	
	<!-- 处理器适配器 ,所有的处理器适配器，都实现HandlerAdapter接口-->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>
	<!-- 另一个非注解的适配器 -->
	<bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"></bean>
	<!-- 视图解析器
		解析jsp，默认使用jstl标签，classpath下得有jstl的包
	 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"></bean>
		
</beans>